<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gumptionlabs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FreeCoursesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PurchaseHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewPurchasedActivity"
            android:parentActivityName=".UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssignCourseActivity"
            android:parentActivityName=".UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageUserActivity"
            android:parentActivityName=".UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserListActivity"
            android:parentActivityName=".MasterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PlayerActivity" />
        <activity
            android:name=".NewVideoActivity"
            android:parentActivityName=".AddVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyVideoActivity"
            android:parentActivityName=".MyCoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddVideoActivity"
            android:parentActivityName=".AddCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="com.example.gumptionlabs.VideoPlayer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PurchaseCourseActivity"
            android:parentActivityName=".StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewCourseActivity"
            android:parentActivityName=".AddCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>